
<div class="container">
    <div class="abs-center">
      <img class="mb-4" src="./assets/pp.ico" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
            <p>Para realizar la compra de pasajes , ustede debe registrase en el sistema ingrese sus datos y podra operar con nosotros:</p>     
      <form>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputnombre" placeholder="nombre">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputapellido" placeholder="apellido">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputdni" class="col-sm-2 col-form-label">dni</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputdni" placeholder="dni">
          </div>
        </div>
      
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
        </div>
      </form>
    </div>
  </div>