<div class="container">
    <h2>Usuarios </h2>
    <p>Lista de usuarios del sistema, usuarios Adninistradores, Usuarios compradores de Boletos y Choferes:</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          
          <div class="btn-group" role="group" aria-label="Basic example">
          <td><button type="button" class="btn btn-info">Informacion</button></td>
          <td><button type="button" class="btn btn-warning">Editar</button></td>
          <td><button type="button" class="btn btn-danger">Eliminar</button></td>
        </div>

        </tr>
        
        
      </tbody>
    </table>
  </div>