
<div class="container">
    <div class="abs-center">
        <form class="form-signin">
            <img class="mb-4" src="./assets/pp.ico" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h1>
            <p>Una vez registrado usted debe iniciar sesion en el sistema para poder operar con las credenciales que ingreso al registrarse en el mismo:</p> 
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Recordar
              </label>
            </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>
        </div>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018 INGENIERIA DE SOFTWARE 2 - GRUPO49</p>
          </form>
    </div>
  </div>