
<div class="container">
    <div class="abs-center">
      <img class="mb-4" src="./assets/pp.ico" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Alta de Vehiculo</h1>
            <p>Formulario para realizar la alta del Vehiculo , el mismo sera cargado por parte de la empresa :</p>     
      <form>
     
        <div class="form-group">
            <label for="exampleSelect1">CHOFER</label>
            <select class="form-control" id="exampleSelect1">
              <option>CHOFER 1</option>
              <option>CHOFER 2</option>
              <option>CHOFER 3</option>
              <option>CHOFER 4</option>
              <option>CHOFER 5</option>
              <option>CHOFER 6</option>
              <option>CHOFER 7</option>
              <option>CHOFER 8</option>
              <option>CHOFER 9</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelect1">CONFORT</label>
            <select class="form-control" id="exampleSelect1">
              <option>Cama 1</option>
              <option>Semi-Cama 2</option>
             
            </select>
          </div>
        <div class="form-group">
            <label for="exampleSelect1">Capacidad</label>
            <select class="form-control" id="exampleSelect1">
              <option>10</option>
              <option>20</option>
              <option>30</option>
              <option>40</option>
              <option>50</option>
              <option>60</option>
              <option>70</option>
              <option>80</option>
              <option>90</option>
            </select>
          </div>
        

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">PATENTE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputnombre" placeholder="PATENTE">
          </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">MODELO</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputnombre" placeholder="MODELO">
            </div>
          </div>

        <div class="form-group row">
          <label for="inputApellido" class="col-sm-2 col-form-label">MARCA</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputapellido" placeholder="MARCA">
          </div>
        </div>

      
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Guardar Vehiculo</button>
          </div>
        </div>
      </form>
    </div>
  </div>