
<div class="container">
    <div class="abs-center">
      <img class="mb-4" src="./assets/pp.ico" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Alta de Viaje</h1>
            <p>La empresa es la encargada de realizar las alta de los viajes para que los usuarios puedan comprar pasajes:</p>     
      <form>
        

        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Fecha Salida</label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Fecha Llegada</label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">descripcion</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="exampleSelect1">Provincia</label>
            <select class="form-control" id="exampleSelect1">
              <option>Buenos Aires</option>
              <option>Cordoba</option>
              <option>Mendoza</option>
              <option>Rio Negro</option>
              <option>Entre Rios</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleSelect1">Ciudad</label>
            <select class="form-control" id="exampleSelect1">
              <option>Ciudad 1</option>
              <option>Ciudad 2</option>
              <option>Ciudad 3</option>
              <option>Ciudad 4</option>
              <option>Ciudad 5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelect1">Ruta</label>
            <select class="form-control" id="exampleSelect1">
              <option>Ruta 1</option>
              <option>Ruta 2</option>
              <option>Ruta 3</option>
              <option>Ruta 4</option>
              <option>Ruta 5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelect1">Parada</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelect1">Vehiculo a asignar al viaje</label>
            <select class="form-control" id="exampleSelect1">
              <option>Vehiculo 1</option>
              <option>Vehiculo 2</option>
              <option>Vehiculo 3</option>
              <option>Vehiculo 4</option>
              <option>Vehiculo 5</option>
            </select>
          </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Publicar Viaje</button>
          </div>
        </div>
      </form>
    </div>
  </div>