<div class="container">
    <h2>Lista de viajes  </h2>
    <p>Para realizar la compra de un viaje puede selecionar en la tabla, los viajes son dado de alta por la empresa y se disponen para los usuarios :</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Origin</th>
          <th>Destino</th>
          <th>Tiempo Estimado</th>
          <th>Fecha de Salidad</th>
          <th>Fecha de Llegada</th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chascomus</td>
          <td>La Plata</td>
          <td>1HS</td>
          <td>29/042021</td>
          <td>29/042021</td>
          
          <div class="btn-group" role="group" aria-label="Basic example">
          <td><button type="button" class="btn btn-info">Informacion</button></td>
          <td><button type="button" class="btn btn-success">Comprar</button></td>
          <td><button type="button" class="btn btn-primary">Editar</button> </td>
          <td><button type="button" class="btn btn-danger">Eliminar</button></td>
        </div>

        </tr>
        
        
      </tbody>
    </table>
  </div>